@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="light"] {
  --background: #ECF0F3;
  --foreground: #1e2125;
  --bgheader: #ffffff;
  --pink: #ff014f;
}

html[data-theme="dark"] {
  --background: #22262a;
  --foreground: #ffffff;
  --bgheader: #212428;
  --pink: #ff014f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
